* {
    margin: 0px;
    padding: 0px;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

.text-shadow {
    text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}

.flashes h4 {
    line-height: 2;
}

.btn-small {
    margin: 1px;
}

.collapsible-header .col strong {
    margin: 5px;
    line-height: 42px;
}


.slider{
    margin-top: 60px;
    margin-bottom: 60px;
}

.page-footer{
    margin-top: 60px;
}

.materialboxed{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%; 
}

.welcomeimg{
    text-align: center;
}

/*-- media queries to fix Responsive issues --*/

@media (max-width: 400px) {
    nav .brand-logo {
        font-size: 1.40rem !important;
        left: 25% !important;
        }
    .btn-small {
        width: 50px;
        font-size: 9px;
        }
    .wordname {
        font-size: 10px;
    }
}


