{% extends "base.html" %}
{% block content %}

    <h3 class="black-text text-darken-4 center-align">Add new Word</h3>

    <div class="row card-panel grey lighten-5">
        <form class="col s12" method="POST" action="{{ url_for('add_words') }}">
          <!-- word name -->
          <div class="row">
            <div class="input-field col s12">
              <i class="fas fa-pencil-alt prefix blue-grey-text text-darken-2"></i>
              <input id="word_name" name="word_name" minlength="3" maxlength="13" 
                  type="text" class="validate" required>
              <label for="word_name">Word Name</label>
            </div>
          </div>
          <!-- word description -->
          <div class="row">
            <div class="input-field col s12">
              <i class="fas fa-align-left prefix blue-grey-text text-darken-2"></i>
              <textarea id="word_description" name="word_description" minlength="5"
                  maxlength="200" class="materialize-textarea validate" required></textarea>
              <label for="word_description">Word Description</label>
            </div>
          </div>
          <!-- submit button -->
          <div class="row">
            <div class="col s12 center-align">
                <button type="submit" class="btn-large blue-grey darken-2 text-shadow">
                    Add Word <i class="fas fa-plus-square right"></i>
                </button>
            </div>
          </div>
        </form>
      </div>

{% endblock %}