{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="col s12 m8 offset-m2">
      <div class="card-panel">
          <h3 class="center-align black-text text-darken-4">
              {{ username }}'s Profile 
          </h3>
      </div>
    </div>
  </div>

  <img class="materialboxed" data-caption="A picture of soilders" src="{{ url_for('static', filename='img/profileimg.jpg')}}">

  <div class="row">
    <div class="col s12">
        <h4 class="center-align">
            Welcome soilder! 
            <a href="{{ url_for('add_words') }}" class="light-blue-text text-darken-4">Add a New Word</a>
        </h4>
    </div>
</div>
{% endblock %}