{% extends "base.html" %}
{% block content %}

    <h3 class="light-blue-text text-darken-4 center-align">All Words</h3>

    <ul class="collapsible">
        {% for word in words %}
        <li>
          <div class="collapsible-header white-text light-blue darken-4 text-shadow">
              <i class="fas fa-caret-down"></i>
              <strong>{{ word.word_name }}</strong>
          </div>
          <div class="collapsible-body">
              <p>{{ word.word_description }}</p>
              <p><em>by: {{ word.created_by }}</em></p>
          </div>
        </li>
        {% endfor %}
    </ul>
        
            

{% endblock %}